            <div class="tool-panel">
                <h3>{{ t('modder_tools.extract_an_existing_tmod') }}</h3>
                <p class="help-text">{{ t('modder_tools.select_a_tmod_archive_to_unpack_its_cont_0c6253') }}</p>

                <div class="form-group">
                    <label>{{ t('modder_tools.source_tmod_file') }}</label>
                    <div class="input-row">
                        <input type="text" v-model="extract.source" :placeholder="t('modder_tools.select_a_tmod_file')" readonly :class="{ 'field-invalid': isExtractFieldInvalid('source') }">
                        <button class="primary-btn" @click="browseExtractSource"><i class="fa-solid fa-file-archive"></i> <span>{{ t('common.browse') }}</span></button>
                    </div>
                    <input ref="webFileInput" type="file" accept=".tmod" style="display:none" @change="onWebFilePicked">
                </div>

                <div class="form-group" v-if="!isWebMode">
                    <label>{{ t('modder_tools.destination_folder') }}</label>
                    <div class="input-row">
                        <input type="text" v-model="extract.dest" :placeholder="t('modder_tools.select_where_to_extract_the_files')" readonly :class="{ 'field-invalid': isExtractFieldInvalid('dest') }">
                        <button class="primary-btn" @click="browseExtractDest"><i class="fa-solid fa-folder-open"></i> <span>{{ t('common.browse') }}</span></button>
                    </div>
                </div>

                <p v-else class="help-text">
                    <i class="fa-solid fa-circle-info"></i> {{ t('modder_tools.web_extract_zip_hint') }}
                </p>

                <button class="primary-btn execute-btn" @click="extractTMod" :disabled="store.isWorking.extracting">
                    <template v-if="store.isWorking.extracting"><i class="fa-solid fa-spinner fa-spin"></i> {{ t('modder_tools.extracting') }}</template>
                    <template v-else-if="isWebMode"><i class="fa-solid fa-file-zipper"></i> <span>{{ t('modder_tools.web_extract_download_zip') }}</span></template>
                    <template v-else><i class="fa-solid fa-box-open"></i> <span>{{ t('modder_tools.extract_tmod') }}</span></template>
                </button>
            </div>
